# regenerable artifacts of the g3 lane (flatten output, sby run dirs)
g3_flat.il
g3_flat_assumed.il
kind/
invcheck/
*.log
fresh854.pla
assume_cells.il
# run dirs of this lane's sby configs
fabric.conservation.g3-certificate/
fabric.conservation.naked-induction/
# intermediates of the certificate pipeline (regenerable; see README)
g3_flat_guarded.il
guarded_aig.il
guarded_aig.aig
guarded_aig.aim
guarded_aig.log
guarded_aig.ys.bak
guarded_baked.aig
guarded_bare.aig
guarded_assumed.il
guarded_inv.pla
sup_groups.json
sim_check*.py
guarded_assumed_aug.il
bare_inv_aug.pla
fabric.conservation.g3-completion/
